body {
  background: #f7f7f7;
}

.loginbox {
  background: transparent;
}

.log {
  margin-top: 5rem !important;
  margin-right: 20rem !important;
}

.facebookbtn {
  background: #2d64b0 !important;
}
input:focus {
  box-shadow: 0 0 0 0 !important;
}
.logo {
  margin-top: -3rem !important;
}
/* .main{
    padding: 90rem !important;
} */
.underline {
  text-decoration: underline;
}
.forget {
  margin-left: 0px !important;
}
.btn {
  background: linear-gradient(
    to right top,
    #a52ff1,
    #bb2af7,
    #cc26fc,
    #d025fc
  ) !important;
  color: white;
}

/* Apply background only to the login form page */
.body-login-form {
  background: url("https://img.freepik.com/free-vector/purple-abstract-background_1393-310.jpg?w=360");
  background-size: cover;
  background-position: center;
}

.loginbox {
  background: transparent;
}

.log {
  margin-top: 5rem !important;
  margin-right: 20rem !important;
}

@media only screen and (max-width: 768px) {
  .row.col-lg-5 {
    width: 50%; /* Set the width to 50% on medium screens */
  }
}
