    .navv{
        align-self: center !important; 
        position: absolute;
        z-index: 22222;
       border-bottom: 0.05px solid gray;
    }
.btn {
    background: linear-gradient(to right top, #A52FF1, #BB2AF7, #CC26FC, #D025FC) !important;
color: white; /
}

.a{
    display: none;
}
body{
  font-family: 'Manrope' , 'sans-serif' ;
}

.nav-w{
    width: 85%;
    margin: auto;
}
.nav-home{
    margin-left: 120px !important;
}