.expp-img {
  background-image: url("https://media.istockphoto.com/id/1387279248/photo/people-dancing-in-neon-light-closeup.jpg?s=2048x2048&w=is&k=20&c=mS-pvBoIqvymLETcfh4Ud2z5yg-KAsUeegTqn_mCbbw=");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 66vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; 
}

.exp-img h1,
.exp-img h2 {
  margin: 0;
  font-weight: bold !important;
}
