    .navv{
        align-self: center !important; 
        background: #030F1B;
     

    }
.btn {
    background: linear-gradient(to right top, #A52FF1, #BB2AF7, #CC26FC, #D025FC) !important;
color: white; /
}

.brand img{
    display: inline;
width:50%;
}
.a{
    display: none;
}
body{
  font-family: 'Manrope' , 'sans-serif' ;
}

